$primary-color: #ffffff;
$secondry-color: #999999;
$background-color: #1e1e1e;
$text-color: #333333;
$active-color: #ccedff;
$text-active-color: #00a3ff;
$date-color: #a5b4ca;
$reply-background: #f4fbff;

@font-face {
    font-family: "Yekan";
    font-style: normal;
    src: url("../font/YekanBakh-Light.woff2") format("woff2"), url("../font/YekanBakh-Light.woff") format("woff");
}

@font-face {
    font-family: "Yekan";
    font-style: bold;
    src: url("../font/YekanBakh-Bold.woff2") format("woff2"), url("../font/YekanBakh-Bold.woff") format("woff");
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    height: 170px;
    background: $primary-color;
    border-radius: 24px;

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;

        width: 70%;
        height: 60px;

        border-radius: 24px;
    }

    &__body {
        width: 60%;
        height: 60px;
        font-family: "Yekan";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: right;
        color: $text-color;
    }

    &__date-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 16px;

        width: 155px;
        height: 24px;
    }

    &__date {
        width: 100px;
        height: 24px;

        font-family: "Yekan Bakh FaNum";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;

        display: flex;
        align-items: center;
        text-align: right;

        color: $date-color;
    }

    &__tags {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 8px;
        gap: 16px;

        width: 39px;
        height: 24px;
        color: $text-active-color;
        background: $active-color;
        border-radius: 12px;

        flex: none;
        order: 1;
    }

    &-reply {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 16px 24px;
        gap: 8px;

        width: 70%;
        height: 62px;

        background: $reply-background;
        border-radius: 24px;
        order: 1;
        align-self: stretch;
        flex-grow: 0;

        &__body {
            width: 1101px;
            height: 30px;
            font-family: 'Yekan';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-align: right;
            color: $text-color;
            order: 1;
            flex-grow: 1;
        }

        &__date {
            width: 99px;
            height: 24px;
            
            font-family: 'Yekan';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
            
            display: flex;
            align-items: center;
            text-align: right;
            
            color: $date-color;
        }
    }
}
